# The folder where the 1/2/3/4 folders (each recorded roast) are stored
DATA_FOLDER=/Users/neil/Documents/Coffee

# Output, extracted stuff to be used for training
DATA_SERIES_FOLDER="/Users/neil/Documents/Coffee/data-series"

# Output. Where the model should be written to, during training
MODEL_FOLDER="/Users/neil/Documents/Coffee/model"
