absl-py
asttokens
astunparse
cachetools
certifi
cffi
charset-normalizer
contourpy
cycler
decorator
executing
flatbuffers
fonttools
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
imageio
imutils
ipython
jedi
joblib
keras
kiwisolver
lazy_loader
libclang
Markdown
MarkupSafe
matplotlib
matplotlib-inline
ml-dtypes
networkx
numpy
oauthlib
opencv-python
opt-einsum
packaging
pandas
parso
pexpect
pillow
prompt-toolkit
protobuf
ptyprocess
pure-eval
pyasn1
pyasn1-modules
PyAudio
pycparser
Pygments
pyparsing
pytesseract
python-dateutil
pytz
requests
requests-oauthlib
rsa
scikit-image
scipy
seaborn
six
sns
sounddevice
stack-data
tensorboard
tensorboard-data-server
tensorflow[and-cuda]
tensorflow-estimator
tensorflow-hub
tensorflow-io
tensorflow-io-gcs-filesystem
termcolor
tf-keras
threadpoolctl
tifffile
traitlets
typing_extensions
tzdata
urllib3
wcwidth
Werkzeug
wrapt

pytesseract